@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	background-color: lightgray;
	width: 100%;
}

.wrapper {
	max-width: 100%;
	padding: 0.4%;
	text-align: center;
}

#header h1 {
	font-weight: bold;
	color: black;
}

#header ul {
	display: flex;
	padding: 10px 0;
}

#header li {
	margin-left: 30px;
	font-size: 12px;
	list-style-type: none;
}

.site-title {
	font-size: 24px;
	line-height: 1px;
	padding: 10px 0;
}



html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100%;
    }

.main-information {
	font-size: 34px;
	font-weight: bold;
}

.accordion-button:not(.collapsed) {
	background-color: #FFC7AF;
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
}
.accordion-button {
	background-color: #FFC7AF;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Yu Gothic UI Semibold';
}

.accordion-body {
	background-color: #FFEFD5;
}

.accordion-body li {
	padding: 10px;
}

.accordion {
	margin-bottom: 30px;
}

.accordion-item:not(:first-of-type),.accordion-item:first-of-type {
	border-style: none;
}

a {
    color: black;
    font-size: 13px;
}

.accordion-button:not(.collapsed) {
	color: black;
}

.accordion-button::after {
	background-image:none
}

.nav-link {
    color: black;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
	margin-left: 25px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
	background-color: lightgray;
	padding-top: 0;
	padding-bottom: 0;
}

::marker {
    font-size: 25%;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(95, 95, 95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem;
    color: orange;
}

.navbar-toggler {
    border: 1px solid gray;
}

.btn-outline-success {
    color: black;
    background-color: #e2e2e2;
    border-style: none;
}

.navbar-collapse {
    flex-grow: 0;
}

.inner {
	display: flex;
}

.text {
	margin: 0 0 0 20px;
	padding: 0;
}

.photo {
	max-width: 100%;
	height: auto;
}

.row {
	margin-bottom: 50px;
}

.row h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}

.js-fade {
	opacity: 0;
	visibility: hidden;
	transform: translateY(50px);
	transition: opacity 1s,visibility 1s, transform 1s;
}

.scroll {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.bottom {
	background-color: black;
	color: white;
    padding: 20px;
}

.col-md-12 p {
	font-size: 24px;
	text-align: center;
	margin: auto;
}

.col-md-3 {
	display: flex;
	justify-content: center;
}

.brunch-list {
	display: flex;
}

.brunch img {
	width:200px;
	height:200px;
	border-radius:50%;
}

.col-md-12 p {
	margin-bottom: 40px;
}

.footer {
	background-color: darkgray;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-fluid ul{
	display: flex;
	justify-content: center;
	list-style: none;
}

.container-fluid li:not(.list1){
	margin-left: 30px;
}

.custom-row > div:first-child {
	margin-left: 0;
}

@media (max-width: 780px) {
	.hide-on-mobile {
	display: none !important;
	}

	.swiper-slide img {
		max-width: 88%;
		margin: 15px;
	}

	.swiper-button-next {
		right:2px!important;
	}

	.swiper-button-prev {
		left:2px!important;
	}

	.swiper-backface-hidden .swiper-slide {
		background-color: #FFEFD5;
	}
}